@import '../source/components/_share-links.less';
@import '../source/components/_footer.less';
@import '../source/components/_pagina_slm.less';
@import '../source/components/_pagina_oqueeh-slm.less';

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Svg Sprites */
body {
  > .sprites {
    position: fixed;
    top: -99999px;
    left: -99999px;
  }
}

/* Main Content */
.page-main {
  padding-top: 1rem;

  @media (max-width: 767px) {
    max-width: 100vw !important;
  }
}


/* Action Buttons */
.actions-toolbar .action.primary,
.action.primary {
  background: var(--cta);
  border: 0;
  transition: 200ms var(--cubic);
  font-family: var(--root-font);
  border-radius: 60px;
  &:hover {
    background: var(--cta-hover);
    border: 0;
  }
}

.navigation,
.breadcrumbs,
.page-header .header.panel,
.header.content,
.footer.content,
.page-wrapper>.widget,
.page-wrapper>.page-bottom,
.block.category.event,
.page-main {
  max-width: var(--viewport);
  margin: 0 auto;
}

/* Header Content */
.header.content {
  @media (min-width: 769px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 22px 16px;
    max-width: var(--viewport);
    margin: 0 auto;
  }
}

/* My account */
.headerinfo-item.myaccount {
  margin-left: 28px;
  order: 4;
  position: relative;

  @media (max-width: 768px) {
    margin-left: 5px;
    display: inline-block;
    float: right;
    margin-top: 4px;
  }

  &:hover {
    .myaccount-content {
      display: block;

      @media (max-width: 992px) {
        display: none;
      }
    }
  }
}
.myaccount-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;

  > .ico {
    width: 20px;
    height: 22px;
    fill: var(--midtone);
    margin-right: 10px;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }
  > .text {
    font-size: 14px;
    font-weight: var(--medium);
    color: var(--highlight);

    @media (max-width: 992px) {
      display: none;
    }
  }
}
body:not(.user-logged) .myaccount-content .item:last-child {
  display: none;
}
body:not(.user-logged) .myaccount-content .item:first-child {
  margin-bottom: 0;
}
.myaccount-content {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 12px -1px rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 1.5rem;
  min-width: 140px;
  display: none;
  @media (max-width: 992px) {
    display: none;
  }


  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .link {
    font-size: 14px;
    color: var(--shadow);

    &:hover {
      color: var(--midtone);
    }
  }
}

/* Categories */
/* TODO: move to natigation file */
.nav-open .nav-sections {
  z-index: 999;
}
/* Variavel para setar o top da ul em relacao a altura da li pai */
:root {
  --mouse-y: 100%;
}
.nav-sections {
  @media (min-width: 768px) {
    background: #ffffff;
    margin-top: -12px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .navigation {
    background: #ffffff;
    padding: 0 16px;
    
    > ul {
      padding: 0;
    }
    
    li.level0 {
      position: static;
      margin: 0 3px 0 0;

      &:nth-child(1) {
        > .submenu:before {
          background: #f9b500;
        }
      }
      &:nth-child(2) {
        > .submenu:before {
          background: #99c921;
        }
      }
      &:nth-child(3) {
        > .submenu:before {
          background: #6949a0;
        }
      }
      &:nth-child(4) {
        > .submenu:before {
          background: #1577bd;
        }
      }

      > a.level-top {
        font-size: 16px;
        color: var(--midtone);
        font-weight: var(--bold);
        padding: 0 6px;
        letter-spacing: -.2px;
        text-transform: uppercase;
        transition: 150ms ease;
      }

      &.active > .level-top {
        border: 0;
      }

      &.parent > a.level-top {
        padding-right: 12px;

        > .ui-menu-icon:after {
          font-size: 9px;
        }
      }

      /* ul level 0 */
      > .submenu {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;
        left: 0 !important;
        top: var(--mouse-y) !important;
        background: var(--midtone);
        padding: 32px 0 25px;
        box-shadow: none;
        border: 0;

        &[aria-expanded="true"] {
          display: grid !important;
        }

        &[aria-hidden="true"] {
          display: none !important;
        }
        

        &::before {
          content: "";
          background: var(--midtone);
          width: 100vw;
          height: 100%;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
          border-radius: 0;
          padding-bottom: 24px;
        }

        &::after {
          content: "";
          background: var(--midtone);
          display: none;
        }

        li.parent > a > .ui-menu-icon {
          display: none;
        }

        .active > a {
          border: 0;
          font-weight: var(--medium);
          color: var(--brightness);
        }

        a {
          font-size: 20px;
          font-weight: var(--medium);
          color: var(--brightness);
          padding: 6px 10px;

          &:hover,
          &.ui-state-focus {
            background: transparent !important;
            color: var(--brightness);
          }
        }

        /* ul level 1 */
        .submenu {
          display: block !important;
          left: 0 !important;
          top: auto !important;
          position: relative;
          box-shadow: none;
          border: 0;
          background: transparent;
          padding: 0 0 0 22px;

          .active > a {
            border: 0;
            font-weight: var(--medium);
            color: var(--brightness);
          }

          a {
            font-size: 16px;
            font-weight: var(--regular);
            color: var(--brightness);
            padding: 6px 10px;

            &:hover,
            &.ui-state-focus {
              background: transparent !important;
              color: var(--brightness);
              font-weight: var(--medium);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .navigation {
    .parent .level-top:after {
      font-size: 16px;
    }
    .level0 {
      > .level-top {
        font-size: 16px;
      }
    }
  }
}

/* Banner Full */
.banner-evolution {
  // width: 100%;
  // margin: 0 auto -2rem !important;
  // max-width: var(--viewport);
  
  // @media (max-width: 1250px) {
  //   margin: 0 auto -1rem !important;
  // }

  // @media (max-width: 992px) {
  //   margin: 0 !important;
  // }

  // img {
  //   width: 100%;
  // }

  .slides {
    margin-bottom: 0;
  }

  .glide-arrow {
    border: 0;
    box-shadow: none;
    @media (min-width: 768px) {
      width: 55px !important;
      height: 65px !important;
      top: 45% !important;
    }
    @media (max-width: 767px) {
      top: ~"calc(50% - 20px)" !important;
    }

    .ico {
      fill: var(--brightness) !important;
      opacity: .3;
      @media (min-width: 768px) {
        width: 34px !important;
        height: 50px !important;
      }
    }
  }

  .glide__bullets {
    display: none;
  }
}

/* Categories Box */
.categories-box {
  margin-bottom: 70px;
  padding: 80px 0 0;

  > .title {
    font-size: 30px;
    font-weight: var(--extrabold);
    color: var(--midtone);
    text-align: center;
    margin-bottom: 70px;
  }

  > .list {
    padding: 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
    grid-template-rows: auto;
    list-style-type: none;

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 568px) {
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.categories-item {
  text-align: center;
}

.categories-link {

  &:hover {
    @media (min-width: 993px) {
      > .img {
        transform: translateY(-5px);
      }
    }

    > .text {
      color: var(--midtone);
    }
  }

  > .img {
    margin: 0 auto;
    height: auto;
    transition: 200ms var(--cubic);
  }

  > .text {
    font-size: 26px;
    color: var(--midtone);
    text-transform: uppercase;
    font-weight: var(--extrabold);
    line-height: 30px;
    margin-top: 20px;
    display: block;
    transition: 150ms var(--cubic);

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 20px;
    }

    > strong {
      font-weight: var(--extrabold);
      display: block;

      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}



/* Categories Box */
.grid-banner {
  margin-bottom: 15px;
  position: relative;
  padding-top: 90px;

  &:before {
    content: "";
    background: #f5f5f5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 200vh;
    z-index: -1;
}

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 0;
    list-style-type: none;

    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr;
    }
    @media (max-width: 568px) {
      grid-template-columns: 1fr;
      grid-template-rows: .6fr .6fr 0.1fr .1fr;
    }
  }

  .item {
    position: relative;
    margin-bottom: 0;

    &:nth-child(1) {
      grid-column: ~"1 / 2";
      grid-row: ~"1 / 3";
      @media (max-width: 767px) {
        grid-column: ~"1 / 2";
        grid-row: ~"1 / 2";
      }
      @media (max-width: 568px) {
        grid-column: ~"1 / 2";
        grid-row: ~"1 / 2";
      }
    }

    &:nth-child(2) {
      grid-column: ~"2 / 4";
      grid-row: ~"1 / 2";
      
      @media (max-width: 767px) {
        grid-column: ~"1 / 3";
        grid-row: ~"2 / 3";
      }
      @media (max-width: 568px) {
        grid-column: ~"1 / 2";
        grid-row: ~"3 / 4";
      }

      img {
        transform: scale(1.05);
        @media (max-width: 767px) {
          transform: scale(1);
        }
      }
    }

    &:nth-child(3) {
      grid-column: ~"2 / 4";
      grid-row: ~"2 / 3";
      @media (max-width: 767px) {
        grid-column: ~"1 / 3";
        grid-row: ~"3 / 4";
      }
      @media (max-width: 568px) {
        grid-column: ~"1 / 2";
        grid-row: ~"4 / 5";
      }
      img {
        transform: scale(1.05);
        @media (max-width: 767px) {
          transform: scale(1);
        }
      }
    }

    &:nth-child(4) {
      grid-column: ~"4 / 5";
      grid-row: ~"1 / 3";
      @media (max-width: 767px) {
        grid-column: ~"2 / 3";
        grid-row: ~"1 / 2";
      }
      @media (max-width: 568px) {
        grid-column: ~"1 / 2";
        grid-row: ~"2 / 3";
      }
    }

    .link {
      display: block;
      height: 100%;
      cursor: pointer;
      -webkit-mask-image: -webkit-radial-gradient(white, black);
      mask-image: -webkit-radial-gradient(white, black);
      border-radius: 0;
      overflow: hidden;
      
      @media (min-width: 993px) {
        &:hover img {
          transform: scale(1.06);
        }
      }
    }

    .img {
      width: auto;
      height: 100%; 
      object-fit: cover;
      transition: 200ms var(--cubic);

      @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      display: none;
      font-size: 30px;
      font-weight: var(--bold);
      text-align: center;
      color: var(--brightness);

      @media (max-width: 992px) {
        font-size: 21px;
      }
    }
  }
}

/* Swatches */
.swatch-option {
  border-radius: 4px;
  &.text {
    line-height: 12px;
    border: 1px solid #f0f0f0;
  }
}
/* Swatches - Pagina de produtos*/
.product-info-main {
  .swatch-attribute-label {
    font-size: 14px;
    font-weight: var(--regular);
    color: var(--highlight);
  }
  .swatch-attribute {
    margin-bottom: 25px;
    .swatch-attribute-selected-option {
      font-weight: var(--bold);
    }
    &.size {
      .swatch-option {
        &.selected {
          background-color: var(--midtone) !important;
          color: var(--brightness);
        }
      }
    }
    .swatch-option {
      height: 40px;
      min-width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      font-size: 16px;
      font-weight: var(--bold);
      margin-right: 15px;
    }
  }
}


/* Breadcrumbs */
.catalog-product-view,
.customer-account-login,
.customer-account-create,
.checkout-cart-index,
body.account {
  .breadcrumbs {
    padding: 48px 16px 0;
    position: relative;
    margin-bottom: 10px;

    @media (min-width: 1100px) {
      border-radius: 60% 60% 0 0;
    }

    @media (min-width: 768px) {
      &::before {
        
        content: "";
        background: #eee;
        /* width: 137vw;
        border-radius: 100%;
        height: 277px; */
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        background: linear-gradient(0deg, rgba(242,244,245,0.004639355742296902) 0%, rgba(242,244,245,1) 82%);
        width: 100vw;
        border-radius: 40% 40% 0 0;
        height: 112px;
      }
    }
  }
}
.breadcrumbs {
  padding: 22px 16px 0;
  margin-bottom: 24px;

  a,
  a :visited {
    font-size: 14px;
    font-weight: var(--bold);
    color: var(--shadow) !important;
  }
  strong {
    font-size: 14px;
    font-weight: var(--bold);
    color: var(--midtone);
  }
  .item:not(:last-child):after {
    color: var(--midtone);
  }
}

/* Titulo da Pagina de Categoria */
.page-with-filter {

  .column.main {
    padding-top: 16px;
  }

  .page-title-wrapper {
    float: left;
    padding-top: 19px;

    @media (max-width: 767px) {
      float: none;
      text-align: center;
    }

    h1 {
      font-size: 20px;
      font-weight: var(--bold);
      color: var(--midtone);
      @media (max-width: 767px) {
        font-size: 28px;
      }
    }
  }
}


/* Painel do Cliente */
.block-collapsible-nav {

  @media (max-width: 767px) {
    position: initial;
    margin-bottom: 5px !important;
    border: 0;
  }

  .title.block-collapsible-nav-title {
    @media (max-width: 767px) {
      background: var(--backgrounds);
      border-radius: 5px;
      border: 0;
    }
  }

  .content {
    background: #ffffff;
    padding: 26px 0 16px;
  }
  .item {
    a {
      font-size: 14px;
      font-weight: var(--regular);
      color: var(--highlight);
      padding: 3px 34px 3px 32px;
    }
    > strong {
      padding: 3px 34px 3px 32px;
    }
    .delimiter {
      border-top: 0;
      padding: 1px;
    }
  }
}
body.account.page-layout-2columns-left {

  /* Page title */
  &.customer-account-index{
    .page-title-wrapper {
      h1 {
        font-size: 16px;
        font-weight: var(--bold);
        color: var(--midtone);
        margin-bottom: 16px !important;
      }
    }
  }
  .page-title-wrapper {
    h1 {
      font-size: 18px;
      font-weight: var(--bold);
      color: var(--midtone);
      margin-bottom: 25px !important;
    }
  }

  /* Sidebar */
  .sidebar-main {
    @media (min-width: 768px) {
      width: 24%;
      padding-right: 0;
      margin-right: 2.5%;
      background: #ffffff;
      border-radius: 30px;
      overflow: hidden;
      box-shadow: 0px 0px 20px 0px rgba(10, 10, 10, 0.1);
    }
    @media (max-width: 767px) {
      position: relative;
      order: -1;
      margin-bottom: 25px;
    }
  }
  .sidebar-additional {
    padding: 32px 34px 16px;
    margin-bottom: 2rem;
    width: 24%;
    background: #ffffff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(10, 10, 10, 0.1);

    @media (min-width: 768px) {
      margin-right: 2.5%;
    }

    .product-items {
      display: block;
    }

    .product-item-link {
      font-size: 13px;
    }

    .block-reorder .actions-toolbar {
      display: inline-block;
    }
  }

  /* Main */
  .column.main {
    width: 73.5%;
  }
}

body.account {
  /* Main */
  .column.main {

    .block:not(.widget) {
      margin-bottom: 36px;

      .block-title {
        font-size: 16px;
        font-weight: var(--bold);
        color: var(--midtone);
        border-bottom: 0;
        margin-bottom: 17px;
        padding-bottom: 0 !important;
    
        strong {
          font-size: 16px;
          font-weight: var(--bold);
          color: var(--midtone);
        }

        .action {
          font-size: 12px;
          font-weight: var(--regular);
          color: var(--highlight);
          margin-left: 6px;
        }
      }

      .block-content {
        .box {
          font-size: 14px;
          font-weight: var(--regular);
          color: var(--highlight);
        }
      }

      .box-title {
        margin-bottom: 7px;

        span {
          font-size: 14px;
          font-weight: var(--bold);
          color: var(--highlight);
        }
      }

      .box-content {
        font-size: 14px;
        font-weight: var(--regular);
        color: var(--highlight);
      }
    }

    .block-content {
      padding: 34px 34px 35px;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 30px;
    }

    form[class*="form"] {
      padding: 34px 34px 43px;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 30px;
    }

    /* Action toolbar */
    .actions-toolbar:not(.order-actions-toolbar) {
      margin: 0 -8px;

      > .primary .action {
        height: 50px;
        border-radius: 50px;
        background: var(--gradient-light-hover);
        background-size: 205% auto !important;
        background-position: center left;
        font-size: 16px;
        color: var(--brightness) !important;
        font-weight: var(--bold);
        transition: 250ms ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin: 0 8px 8px;
      
        &:hover {
          background-position: center right !important;
        }
      }
    }

    .order-links .item strong {
      border-radius: 5px 5px 0 0;
    }
    .order-details-items {
      border-radius: 0 5px 5px 5px;
    }

    .block-content {
      .payment-method {
        .data.table {
          tbody tr td {
            word-break: break-word;
          }
        }
      }
    }
  }

  /* Informacoes da conta */
  .block-dashboard-info {
    padding: 34px 34px 35px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 30px;

    .block-title {
      margin-bottom: 10px !important;
    }

    .block-content {
      padding: 0 !important;
      border: 0 !important;
      border-radius: 0 !important;
    }

  }

  /* Pedido */
  .block-dashboard-orders {
    .block-content {
      padding: 0 !important;
      border: 0 !important;
      border-radius: 0 !important;
    }
  }

  /* Botoes de acao */
  .box-actions {
    margin: 13px -8px 0;

    .action {
      height: 50px;
      min-width: 150px;
      border-radius: 50px;
      background: var(--gradient-light-hover);
      background-size: 205% auto !important;
      background-position: center left;
      font-size: 16px;
      color: var(--brightness) !important;
      font-weight: var(--bold);
      transition: 250ms ease;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
      margin: 0 8px 8px;
    
      &:hover {
        background-position: center right !important;
      }

      &:after {
        display: none;
      }

      &:not(:first-child){
        background: var(--gradient-dark-hover);
      }
    }
  }

  /* Gerenciar enderecos */
  .block-dashboard-addresses {
    .block-title {
      margin-bottom: 10px !important;
    }

    .block-content {
      padding: 34px 34px 35px;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 30px;
    }
  }

  /* Legend */
  .legend {
    > span {
      font-size: 18px;
    }
  }

  /* Tables */
  .table-wrapper {
    .table {
      border-radius: 0;
    }
    thead {
      th {
        font-size: 16px;
        font-weight: var(--bold);
        background: var(--midtone);
        color: var(--brightness);
        vertical-align: middle;
  
        &:first-child {
          border-radius: 8px 0 0 8px;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }
    tbody {
      td {
        border: solid #f5f5f5;
        border-width: 0 0 1px;
        vertical-align: middle;
      }
    }
    
  }
}

.student-index-edit .column.main {

  /* Action toolbar */
  .primary .action {
    margin-top: 2rem;
    height: 50px;
    border-radius: 50px;
    background: var(--gradient-light-hover);
    background-size: 205% auto !important;
    background-position: center left;
    font-size: 16px;
    color: var(--brightness) !important;
    font-weight: var(--bold);
    transition: 250ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  
    &:hover {
      background-position: center right !important;
    }
    
  }
}


/* Modal de autenticacao */
.modal-popup.popup-authentication {
  left: 0;
  background: rgba(0,0,0,.4);

  .modal-inner-wrap {
    max-width: calc(100% - 2rem);
    margin: 0 auto;
    top: calc(50%);
    transform: translateY(-50%);

    @media (max-width: 767px) {
      max-height: 60%;
      min-height: 50%;
      position: absolute;
      top: calc(50%);
      transform: translateY(-50%) !important;
    }

    .block-authentication {
      @media (min-width: 768px) {
        border-top: 0;
      }
    }
  }
}

.modal-popup.modal-slide {

  @media (max-width: 767px) {
    left: 0;
  }
  .modal-inner-wrap {
    margin-left: 0;
    left: 50%;
    max-height: 70vh;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);

    @media (max-width: 767px) {
      margin-left: 0;
      left: 50%;
      max-height: 80vh;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) !important;
      width: 100%;
      position: absolute;
      max-width: calc(100vw - 2rem);
      background-color: white !important;
      min-height: initial !important;
    }
  }

  #shipping-new-address-form input[type="text"]:not(#search):not(#coupon_code), #checkout-step-shipping input[type="text"]:not(#search):not(#coupon_code), #shipping-new-address-form input[type="password"], #checkout-step-shipping input[type="password"], #shipping-new-address-form input[type="url"], #checkout-step-shipping input[type="url"], #shipping-new-address-form input[type="tel"], #checkout-step-shipping input[type="tel"], #shipping-new-address-form input[type="search"], #checkout-step-shipping input[type="search"], #shipping-new-address-form input[type="number"], #checkout-step-shipping input[type="number"], #shipping-new-address-form input[type="datetime"], #checkout-step-shipping input[type="datetime"], #shipping-new-address-form input[type="email"], #checkout-step-shipping input[type="email"], #shipping-new-address-form select, #checkout-step-shipping select {
    width: 100% !important;
  }
}

/* bundle product */
.bundle-options-container .block-bundle-summary .bundle.items .label {
  display: none;
}

.bundle-options-container .block-bundle-summary {
  float: none;
  width: auto;
  padding: 0;
  margin-top: 0;
}

.bundle-options-container .product-add-form {
  display: block;
}
.bundle-options-container .block-bundle-summary .price-box,
.bundle-actions {
  display: none;
}

/* Qtd produto - Pagina de Produto */
.product-info-main .box-tocart .field.qty, .product-options-bottom .box-tocart .field.qty {
  display: block !important;
}
.product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions {
  padding-top: 0 !important;
}