<div class="sobre-maplebear">
  <div class="title">Inspiring the future of education</div>
  <p>Com uma rede composta por mais de 400 escolas e 150 mil alunos em apenas 3 anos, a Conexia Educação é referência em soluções educacionais inovadoras no Brasil. Por meio de suas marcas, atende os mais mais diversos perfis de escolas.
Seja para o Alto Rendimento Acadêmico, Educação Bilíngue ou Formação do Cidadão do Século XXI.</p>

  <a class="link" href="https://www.instagram.com/conexiaeducacao/" target="_blank">#Conexia</a>

</div>