/* Footer */
body.cms-home {
  .page-footer {
    padding-top: 0;
    margin-top: 227px;
    overflow: visible;

    @media (max-width: 768px) {
      margin-top: 110px;
    }
  }
}
.page-footer {
  position: relative;
  margin: 0;
  padding-top: 158px;
  padding-bottom: 0 !important;
  overflow: hidden;
  background: transparent url("../images/background-footer.png");
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    padding-top: 108px;
    background: transparent url("../images/background-footer.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
  }


  &::after {
    content: "";
    background: var(--gradient-light);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100vw;
    z-index: -1;
  }
}

.mymenu-item {
  line-height: 1rem;
  margin-bottom: 18px !important;

  @media (max-width: 768px) {
    margin-bottom: 16px;
  }
  
  .link {
    font-size: 14px;
    color: var(--brightness);
    font-weight: var(--regular);
    display: block;
    text-align: left;
    cursor: pointer;
    transition: 150ms ease;

    @media (max-width: 568px) {
      font-size: 16px;
      text-align: center;
    }

    &:hover {
      font-weight: var(--bold);
    }
  }
}

.footer.content .list--1 {
  padding-right: 0;
  list-style: disc;
  padding-left: 18px;
  margin-top: 10px;

  > li:not(:last-child) {
    margin-bottom: 10px;
  }
}


.footer-box {
  display: flex;
  flex-flow: row wrap;

  > * {
    flex: 1 1 100%;
  }
}

.footer-row.-four {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr .9fr 1.8fr;
  grid-template-rows: 1fr .6fr;
  @media (max-width: 992px) {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
  }
}

.footer-column {
  color: var(--brightness);
  margin-bottom: 22px;

  @media (max-width: 992px) {
    flex: 1 1 30%;
  }

  @media (max-width: 768px) {
    flex: 1 1 50%;
  }

  @media (max-width: 568px) {
    flex: 1 1 100%;
    text-align: center;
  }

  > .title {
    font-size: 17px;
    color: var(--brightness);
    font-weight: var(--medium);
    margin-bottom: 18px;
  }

  > .list {

    @media (max-width: 768px) {
      padding-right: 32px;
    }

    @media (max-width: 568px) {
      padding-right: 0;
    }
  }

  > .btn {
    margin-top: 6px;
    margin-left: 19px;
    margin-bottom: 5px;
  }

  &.pagto {
    > .img {
      padding: 20px 36px 12px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: row wrap;
      border-radius: 130px;
      width: 100%;
      max-width: 385px;
      @media (max-width: 568px) {
        margin: 0 auto;
      }

      > img {
        margin: 0 8px 18px;
        height: 22px;
        width: auto;
      }
    }
  }

  &.seguranca {
    .link {
      img {
        @media (max-width: 568px) {
          margin: 0 auto;
        }
      }
    }
  }

  .social-list {
    padding: 0;
    margin: 0 -7px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    @media (max-width: 568px) {
      justify-content: center;
    }


    > .item {
      margin: 0 7px 14px;
    }
    .social-link {
      padding: 5px;
      height: 50px;
      width: 50px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      transition: 200ms ease;

      &:hover {
        transform: translateY(-3px);
      }

      > .ico {
        height: 32px;
        width: auto;
        fill: #1e72b8;
      }
    }
  }
}

.footer-wrap {
  display: block;
}

/* Sobre a Maple berar */
.sobre-maplebear {
  margin: 0 auto 78px;
  max-width: 983px;
  text-align: center;

  > .title {
    font-size: 55px;
    font-weight: var(--bold);
    color: var(--brightness);
    margin-bottom: 35px;
  }

  > p {
    font-size: 21px;
    font-weight: var(--regular);
    color: var(--brightness);
    margin-bottom: 24px;
    line-height: 32px;
    max-width: 766px;
    margin: 0 auto;
  }

  > .link {
    background: #1e72b8;
    font-size: 29px;
    font-weight: var(--extrabold);
    color: var(--brightness);
    height: 65px;
    max-width: 280px;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 66px auto 0;
    border-radius: 99px;
    letter-spacing: 0;
  }
}


/* Siga no instagram */
.siga-instagram {
  display: block;
  position: relative;
  max-width: 318px;
  margin: 0 auto;
  padding: 24px 0;
  margin-bottom: 30px;
  text-align: center;

  > .ico {
    width: 102px;
    height: 102px;
    fill: rgba(255,255,255,.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  span {
    font-size: 18px;
    font-weight: var(--medium);
    color: var(--brightness);
  }
}

/* Box de Imagen do footer */
.box-img-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 88px;
  padding-left: 20px;

  @media (max-width: 992px) {
    padding-left: 0;
  }
  @media (max-width: 768px) {
    flex-flow: row wrap;
  }

  img {
    &:nth-child(1),
    &:nth-child(3) {
      z-index: 1;
      margin: 0 -20px;
      @media (max-width: 992px) {
        max-width: 143px;
        height: auto;
      }
      @media (max-width: 400px) {
        max-width: 130px;
        height: auto;
      }
    }
    &:nth-child(2),
    &:nth-child(4) {
      @media (max-width: 992px) {
        max-width: 172px;
        height: auto;
      }
      @media (max-width: 400px) {
        max-width: 144px;
        height: auto;
      }
    }
    &:nth-child(3) {
      @media (max-width: 568px) {
        order: 4;
        margin-top: -34px;
      }
    }
    &:nth-child(4) {
      @media (max-width: 768px) {
        margin-top: -18px;
      }
    }
  }
}

/* Logo footer */
.logo-footer {
  padding: 29px 36px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 130px;
  width: 100%;
  max-width: 478px;
  margin: 0 auto 46px;
  @media (max-width: 500px) {
    display: block;
    text-align: center;
    border-radius: 48px;
  }

  > .text {
    font-size: 15px;
    color: var(--darkness);
    max-width: 153px;
    padding-right: 12px;
    border-right: 1px solid rgba(0,0,0,.1);
    text-align: right;
    margin-right: 12px;
    @media (max-width: 500px) {
      max-width: 100%;
      padding-right: 0;
      border-right: 0;
      text-align: center;
      margin-right: 0;
      margin-bottom: 16px;
      display: block;
    }
  }
  img {
    @media (max-width: 500px) {
      margin: 0 auto;
    }
  }
}

/* Copyright */
.copyright {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 26px 0 5px;
  text-align: center;

  > span {
    font-size: 11px;
    font-weight: var(--medium);
    color: var(--highlight);
    z-index: 0;
    max-width: 813px;
    display: block;
    margin: 0 auto;
    line-height: 16px;
  }

  &::before {
    content: "";
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;
  }
}

.footer.content {
  border: 0 !important;
  position: relative;
  padding-top: 0;
}

.logo-grupo {
  padding: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border-radius: 130px;
  width: 100%;
  max-width: 480px;
  margin: 0 auto 92px;

  img {
    max-width: ~"calc(100vw - 13rem)";
  }
}

/* testimonials */
.testimonial-box {
  padding: 70px 82px 40px;
  background: #fff;
  box-shadow: 0 3px 13px 4px rgba(0,0,0,.1);
  margin: -20% -60px 165px;

  @media (max-width: 1280px) {
    margin: -20% 0 165px;
    padding: 70px 42px 40px;
  }

  > .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 38px;
    padding-right: 0 !important;

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .item {
    background: #f7f7f7;
    padding: 0 30px 30px;
    text-align: center;
    box-shadow: inset 0 71px 0 0 #fff;
    margin-bottom: 20px;
  }
  .title {
      font-size: 16px;
      font-weight: var(--black);
      color: var(--darkness);
      margin-top: 15px;
  }
  .subtitle {
    font-size: 13px;
    font-weight: var(--regular);
    color: var(--highlight);
    margin-bottom: 16px;
  }

  .text {
    font-size: 14px;
    font-weight: var(--regular);
    color: var(--darkness);
    font-style: italic;
    letter-spacing: .1px;
  }

}


